body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/other/main.jpg");
  background-repeat: no-repeat;
}

#title-container {
  margin: 10% 0 3% 33%;
}

h1 {
  margin: 0 0 7% -1%;
}

#form-input {
  margin-left: 10%;
}

.flex-container {
  display: flex;
}

#players-container {
  background-color: #f1f1f1;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.playable-character {
  padding: 5px;
}