body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/other/inn.jpg");
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  margin-top: 10%;
  margin-left: 20%;
}

.info-container {
  width: 30%;
  background-color:	#666666;
  border: 1px solid black;
  color: white;
}

#actions-container {
  width: 50%;
  height: 160px;
  margin-top: 140px;
  background-color: #f1f1f1;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 14px;
}
